mat-form-field {
  width: 100%;
  margin: -2px;
  overflow: hidden;
}

mat-dialog-content {
  overflow: hidden;
}

.action {
  padding: 0px 25px 20px 25px;
}

button {
  flex: 1;
  width: 500px;
  border-radius: 0;
}
